

*{
    text-align: center;
    color:#0E0D19;
}


.starter {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

body {
    background: url("./stars.jpg"); 
    background-size: cover;
    background-repeat: no-repeat; 
    font-size: 30px;
}


.star{
    background-size: cover;
    position: relative;
}


h1{
    text-decoration:underline overline;
}

 .star_1{
    background: url("https://res.cloudinary.com/inga-bacher/image/upload/v1560178976/GUESSWHO/donaldtrump_pszhaf.jpg") no-repeat cover;
}
.star_2{
    background: url("https://res.cloudinary.com/inga-bacher/image/upload/v1560179280/GUESSWHO/mickeymouse_s7r7s2.jpg") no-repeat cover;
}
.star_3{
    background: url("https://res.cloudinary.com/inga-bacher/image/upload/v1560178830/GUESSWHO/rihanna_ppa7ja.jpg") no-repeat cover;
}
.star_4{
    background: url("https://res.cloudinary.com/inga-bacher/image/upload/v1560178698/GUESSWHO/ladygaga-01_htshev.jpg") no-repeat cover;
}
.star_5{
    background: url("https://res.cloudinary.com/inga-bacher/image/upload/v1560179256/GUESSWHO/eddiemurphy_vho1a1.jpg") no-repeat cover;
} 